# Folders
obj/
sql/
debug/
Release/
build/
packages/
.dotnet/
.idea/
.local/
.history/
.nuget/
.terraform/
.tmp/
.vs/
.DS_Store/
.DS_Store

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


*.zip
*.pem
*.pub
*.tfvars
*.jar
*.tfstate
*.tfbackup
*.lts
.project
.settings
.classpath
terraform.tfstate.backup
*.feature.cs

*.bak
*.v3.ncrunch*

# VS files
*.dbmdl
*.ncb
*.suo
*.vspscc
*.jfm
*.log

# Settings
*.dotCover
*.DotSettings
*.StyleCop
*.user
*.AssemblyInfo.cs

!packages/repositories.config
*.Api.xml

!docker/bin/
EventSourceData.txt
tests/Ph.Billing.Integration.SFScenarios/SpecFlow/userid
tests/artifacts/
